.primaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: whitesmoke;
    font-family: 'Lato', Helvaetica, Arial, sans-serif
}

.welcomeHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: whitesmoke;

}

.welcomeHero img {
    border-radius: 50%;
    max-width: 20rem;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgb(69, 75, 77);
}

.primaryAboutInformationContainer {
    line-height: 1rem;

}

.primaryAboutInformationText {
    text-align: center;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: whitesmoke;

}

.primaryAboutInformationContainer a {
    color: gold;
}

.primaryAboutInformationContainer {
    line-height: 1rem;

}

.primaryAboutInformationText {
    text-align: center;
    color: white;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: whitesmoke;

}

.primaryAboutInformationContainer a {
    color: gold;
}

.primaryAboutInformationContainer a:visited {
    color: silver;
}





















.primaryContainerMobile {
    display: none;
}

.welcomeHeroMobile {
    display: none;
}